body {
  margin: 0;
  direction: rtl;
  background-color: white;
}

.side {
  position: absolute;
  height: 100%;
  width: 40%;
}

.left {
  right: 50%;
}

.right {
  left: 50%;
}

#pageImage {
  position: absolute;
  max-height:90%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  object-fit: scale-down;
}

#text {
  text-align: justify;
  position: absolute;
  top: 50%;
  padding-right: 10%;
  transform: translateY(-50%);
  font-family: 'David Libre', serif;
  font-size: 2rem;
  color: darkcyan;
}

.special {
  font-weight: 600;
  color: #d47072;
}


.arrowContainer{
  position: absolute;
  height:100%;
  width:10%;
}
#arrowContainerRight{
  right:0;
}
#arrowContainerLeft{
  left:0;
}
.arrowContainer svg {
  width: 100% !important;
  position: absolute;
  color:#808080;
  top:48%;
  z-index: 200;
}
#overlay{
  z-index: 100;
  width: 100%;
  height: 100%; 
  position: fixed;
}

.arrowContainer:hover{
  cursor:pointer;
}

.arrowContainer:hover > svg *,
.arrowContainer:hover {
  fill: #000000;
}


#slidecontainer {
  margin: 0 0;
  position: absolute;
  top: 20%;
  right: 20%;
  height: 24px;
  width: 30%;
  transform: translateX(50%);
  z-index: 300;
  background-color: lightgray;
  box-shadow: gray 2px 2px 5px;
  border-radius: 1em;
}

#slider {
  -webkit-appearance: none;
  width: 80%;
  transform: translateX(-10%);
  height: 5px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

#slider:hover {
  opacity: 1;
  cursor:pointer;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #888888;
  border-radius: 8px;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
}

#bar {
  margin: 0;
  padding: 0;
  height: 1px;
  display: fixed;
}

#overlay:hover {
  cursor:crosshair;
}