body {
  margin: 0;
  direction: rtl;
  background-color: white;
}

#container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.side {
  height: 100%;
  width: 50%;
}

#sideLeft {
  float: left
}

#sideRight {
  float: right
}

.pageImage {
  height: 85%;
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  object-fit: scale-down;
}

.text {
  margin: -10% auto 0 auto;
  text-align: center;
  width: 85%;
  font-family: 'David Libre', serif;
  font-size: 21px;
}

.special {
  font-weight: 600;
  font-size: 21px;
  color: #d47072;
}




#slidecontainer {
  margin: 0 0;
  position: absolute;
  top: 94%;
  height: 2%;
  width: 100%;
  right: 50%;
  transform: translateX(50%);
}

#slider {
  -webkit-appearance: none;
  width: 80%;
  transform: translateX(-10%);
  height: 5px;
  background: #ffe5e5;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #dca19f;
  border-radius: 5px;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
}