body {
    margin: 0;
    background-color: white;
  }

  #textContainer{
    width: 60%;
    margin:auto;
    margin-top: 4em;
    margin-bottom:5rem;
  }
  
  #text {
    font-family: 'libre baskerville', serif;
    font-size: larger;
    font-size: 1.7em;
    line-height: 1.4em;
    text-align: justify;
    text-indent:4rem;
  }
  
  .special {
    font-weight: 550;
    color: #c15555;
    font-style: italic;
    text-decoration: underline;
  }
  
  #overlay{
    z-index: 100;
    width: 100%;
    height: 100%; 
    position: fixed;
    top:0;
  }
  
    ::selection {
  background: #FFEB3B; 
  color:#2f2f2f;
}
  
  
   #slidecontainer {
    margin: 0 0;
    position: absolute;
    top: 20%;
    right: 20%;
    height: 35px;
    width: 250px;
    transform: translateX(50%);
    z-index: 300;
    background-color: lightgray;
    box-shadow: gray 2px 2px 5px;
    border-radius: 1em;
    padding: 4px 15px;
  }
  
  #slider {
    -webkit-appearance: none;
    width: 63%;
    transform: translateX(0%);
    height: 5px;
    background: #ffffff;
    outline: none;
    opacity: 0.8;
    transition: opacity .2s;
    margin-left:10px;
    margin-right:10px;
    border-radius: 5px;
  }
  
  #slider:hover {
    opacity: 1;
    cursor:pointer;
  }
  
  #slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #888888;
    border-radius: 8px;
  }
  
  #slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
  }
  
  #overlay:hover {
    cursor:crosshair;
  }
  
  .sliderLabel{
    color:#333;
    font-family: 'Comfortaa';
    font-size:1rem;
    padding-top: 0.25em;
	font-weight:bold;
  }
  #leftLabel{
    width:20%;
  }
  #rightLabel{
    width:20%;
  }
  
/* frame border */   
   html:before,html:after,body:before,body:after{
    content:"";
    background:#2196F3;
    position:fixed;
    display:block;
    z-index:5;
    }

    html:before{
    height:5px;
    left:0;
    right:0;
    top:0;
}

html:after{
    width:5px;
    top:0;
    right:0;
    bottom:0;
}
body:before{
    height:5px;
    right:0;
    bottom:0;
    left:0;
}
body:after{
    width:5px;
    top:0;
    bottom:0;
    left:0;
}

  @media screen and (max-width: 980px) {
  .alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-top: 15px;
  margin-left:15px;
  margin-right:15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#textContainer{
    width: 85%;
    margin:auto;
    margin-top: 4em;
    margin-bottom:5rem;
  }
  }

@media screen and (min-width: 981px) {
  .alert {
  display:none;
  }
}

  